.noto-sans {
    font-family: "Noto Sans", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
  .noto-sans-bold {
      font-family: "Noto Sans", serif;
      font-optical-sizing: auto;
      font-weight: 900;
      font-style: normal;
      font-variation-settings:
        "wdth" 100;
  }

body {
    text-align: center;
    font-family: "Noto Sans", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
    margin: 0;
}

header {
    padding-top: 5px;
}

nav {
    width: 100%;
    box-align: center;
    padding-bottom: 20px;
}

button {
    border-radius: 20px;
    cursor: pointer;
    border-color: green;
    background-color: lightblue;
    padding: 10px 10px 10px 10px;
    margin-left: 20px;
    margin-right: 20px;
    width: 150px;
}

.buttonText {
    font-size: 125%;
    font-weight: 500;
}

hr {
    margin-bottom: 0px;
    border-style:solid;
    border-width: 2px;
    border-color: lightblue;
}

.pageTitle {
    padding-top: 0px;
    padding-bottom: 0px;
    font-family: "Nokora", serif;
    font-weight: 400;
    font-style: normal;
}

h1 {
    padding-bottom: 30px;
    font-family: "Nokora", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 300%;
}

.heroSection {
    display: flex;
    width: 100%;
}

.heroImg {
    width: 50%;
    margin: auto;

}

.heroText { 
    width: 50%;
    margin: auto;
    padding-left: 50px;
    padding-right: 50px;
}

.aktivitetSection {
    padding: 15px;
    border-style:solid;
    border-radius: 30px;
    display: flex;
    width: 70%;
    margin:auto;
}

.aktivitetTextLeft {
    padding-right: 50px;
    padding-left: 50px;
    width: 35%;
    text-align:left;
    margin: auto;
    border-right-style: dotted;
}

.aktivitetTextRight {
    padding-left: 50px;
    padding-right: 50px;
    width: 65%;
    text-align:center;
    margin: auto;
}

.søkSection {
    padding: 15px;
    display: flex;
    width: 50%;
    margin:auto;
}

.søkTextLeft {
    font-size: 125%;
    width: 50%;
    text-align: left;
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    padding-bottom: 20px;
}

.søkTextRight {
    width: 50%;
    text-align: right;
    font-size: 125%;
    border-left-style:solid;
    border-left-width: 1px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    padding-bottom: 20px;
}

.sectionStyle1 {
    background-color: lightblue;
    padding-bottom: 50px;
}

.sectionStyle2 {
    padding-top: 50px;
    padding-bottom: 50px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

form {
    margin: auto;
}


.formHeader { 
    font-weight: bold;
}

input {
    margin-bottom: 20px;
}

footer {
    padding-top: 50px;
}


.footerText {
    padding-top: 25px;
    padding-bottom: 50px;
}

/* <uniquifier>: Use a unique and descriptive class name
    <weight>: Use a value from 100 to 900

.noto-sans-<uniquifier> {
  font-family: "Noto Sans", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
*/

.noto-sans {
  font-family: "Noto Sans", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.noto-sans-bold {
    font-family: "Noto Sans", serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}