.noto-sans {
    font-family: "Noto Sans", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }

.noto-sans-bold {
    font-family: "Noto Sans", serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
}

body {
    text-align: center;
    font-family: "Noto Sans", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:"wdth" 100;
    margin: 0;
}

header {
    padding-top: 5px;
}

nav {
    width: 100%;
    box-align: center;
    padding-bottom: 20px;
}

button {
    border-radius: 20px;
    cursor: pointer;
    border-color: green;
    background-color: lightblue;
    padding: 10px 10px 10px 10px;
    margin-left: 20px;
    margin-right: 20px;
    width: 150px;
}

.buttonText {
    font-size: 125%;
    font-weight: 500;
}

hr {
    margin-bottom: 0px;
    border-style:solid;
    border-width: 2px;
    border-color: lightblue;
}

.pageTitle {
    padding-top: 0px;
    padding-bottom: 0px;
    font-family: "Nokora", serif;
    font-weight: 400;
    font-style: normal;
}

h1 {
    font-family: "Nokora", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 300%;
}

.heroSection {
    display: flex;
    width: 100%;
}

.heroImg {
    width: 50%;
    margin: auto;
}

.heroText { 
    width: 50%;
    margin: auto;
    padding-left: 50px;
    padding-right: 50px;
}

.aktivitetSection {
    padding: 15px;
    border-style:solid;
    border-radius: 30px;
    display: flex;
    width: 70%;
    margin:auto;
}

.aktivitetTextLeft {
    padding-right: 50px;
    padding-left: 50px;
    width: 35%;
    text-align:left;
    margin: auto;
    border-right-style: dotted;
}

.aktivitetTextRight {
    padding-left: 50px;
    padding-right: 50px;
    width: 65%;
    text-align:center;
    margin: auto;
}

form {
    margin: auto;
}

.formHeader { 
    font-weight:400;
    font-size:150%;

}

.søkSection {
    background-color:rgb(119, 255, 146);

}


.søkSection input[type="text"] {
    width: 20%;
    padding: 12px 10px;
    margin: 8px 0;
    box-sizing: border-box;
  }

.søkSection input[name="søknøkkelord"] {
    width: 90%;
    padding: 12px 10px;
    margin: 8px 0;
    box-sizing: border-box;
  }

.søkSection input[type="date"] {
    width: 45%;
    padding: 12px 10px;
    margin: 8px 0;
    box-sizing: border-box;
  }

.søkDiv {
    display: flex;
    justify-content: center;
    min-width: 50%;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.søkHeader {
    background-image: linear-gradient(lightblue, rgb(119, 255, 146));
    padding: 50px 0px 50px 0px;
}

.søkTextLeft {
    font-size: 125%;
    width: 50%;
    min-height: 250px;
    min-width: 250px;
    border: 2px gray solid;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding:10px 10px 10px 10px;
    margin-right: 10px;
    margin-bottom: 20px;
}

.søkTextRight {
    width: 50%;
    font-size: 125%;
    min-height: 250px;
    min-width: 250px;
    border: 2px gray solid;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding:10px 10px 10px 10px;
    margin-left: 10px;
    margin-bottom: 20px;
}

.søkEnd {
    background-image: linear-gradient(rgb(119, 255, 146),white);
    padding: 20px 0px 20px 0px;
    margin-left: auto;
    margin-right: auto;
}

.sectionStyle1 {
    background-color: lightblue;
    padding-bottom: 50px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

footer {
    padding-top: 50px;
}

.footerText {
    padding-top: 25px;
    padding-bottom: 50px;
}
