body {
    font-family: Arial, Helvetica, sans-serif; 
    text-align: center;
}

header {
    padding-top: 5px;
}

nav {
    width: 100%;
    box-align: center;
    padding-bottom: 20px;
}

hr{
    margin-bottom: 0px;
}

.pageTitle {
    padding-top: 0px;
    padding-bottom: 0px;
    font-family: "Nokora", serif;
    font-weight: 400;
    font-style: normal;
}

h1 {
    padding-bottom: 30px;
    font-family: "Nokora", serif;
    font-weight: 700;
    font-style: normal;
}

.heroSection {
    display: flex;
    width: 100%;
}

.heroImg {
    width: 50%;
    margin: auto;

}

.heroText { 
    width: 50%;
    margin: auto;
}

.aktivitetSection {
    padding: 15px;
    border-style:solid;
    border-radius: 30px;
    display: flex;
    width: 70%;
    margin:auto;
}

.aktivitetTextLeft {
    padding-right: 50px;
    padding-left: 50px;
    width: 35%;
    text-align:left;
    margin: auto;
    border-right-style: dotted;
}

.aktivitetTextRight {
    padding-left: 50px;
    padding-right: 50px;
    width: 65%;
    text-align:center;
    margin: auto;
}

.sectionStyle1 {
    background-color: lightblue;
    padding-bottom: 50px;
}

.sectionStyle2 {
    padding-top: 50px;
    padding-bottom: 50px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

form {
    margin: auto;
    width: 50%;
    text-align: left;
}

.formHeader { 
    font-weight: bold;
}

input {
    margin-bottom: 20px;
}

footer {
    padding-top: 50px;
}

.footerText {
    padding-top: 75px;
    padding-bottom: 100px;
}

.nokora-thin {
    font-family: "Nokora", serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .nokora-light {
    font-family: "Nokora", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .nokora-regular {
    font-family: "Nokora", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .nokora-bold {
    font-family: "Nokora", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .nokora-black {
    font-family: "Nokora", serif;
    font-weight: 900;
    font-style: normal;
  }